# FanDuel 2014 Week 1 - 17 Statistical Analysis
Testing "fanduel2014week*.csv"

In [3]:
import pandas as pd

for loop to populate all weeks in respective variables

###IMPORTANT: variable automation is not working correctly.

In [4]:
'''
numberofweeks = 14
counter = 1
while counter <= numberofweeks:
    weeknumber = str(counter)
    filename = "../data/fanduel_data/fanduel2014week"
    filename += weeknumber
    filename += ".csv"
    # print (filename) 
    
    weekname = "wk"
    weekname += weeknumber 
    #str (weekname) = pd.read_csv(filename,delimiter=";")
    # print (weekname)
    #"wk"+=str(counter) = pd.read_csv(filename,delimiter=";")
    
    # weeknumber = pd.read_csv(filename,delimiter=";")
    # print (weeknumber, " = ", filename, sep="")
    counter += 1
    
#wk12.head()

'''

'\nnumberofweeks = 14\ncounter = 1\nwhile counter <= numberofweeks:\n    weeknumber = str(counter)\n    filename = "../data/fanduel_data/fanduel2014week"\n    filename += weeknumber\n    filename += ".csv"\n    # print (filename) \n    \n    weekname = "wk"\n    weekname += weeknumber \n    #str (weekname) = pd.read_csv(filename,delimiter=";")\n    # print (weekname)\n    #"wk"+=str(counter) = pd.read_csv(filename,delimiter=";")\n    \n    # weeknumber = pd.read_csv(filename,delimiter=";")\n    # print (weeknumber, " = ", filename, sep="")\n    counter += 1\n    \n#wk12.head()\n\n'

Hardcode weelky variables...

In [5]:
wk1 = pd.read_csv("../data/fanduel_data/fanduel2014week1.csv",delimiter=";")
wk2 = pd.read_csv("../data/fanduel_data/fanduel2014week2.csv",delimiter=";")
wk3 = pd.read_csv("../data/fanduel_data/fanduel2014week3.csv",delimiter=";")
wk4 = pd.read_csv("../data/fanduel_data/fanduel2014week4.csv",delimiter=";")
wk5 = pd.read_csv("../data/fanduel_data/fanduel2014week5.csv",delimiter=";")
wk6 = pd.read_csv("../data/fanduel_data/fanduel2014week6.csv",delimiter=";")
wk7 = pd.read_csv("../data/fanduel_data/fanduel2014week7.csv",delimiter=";")
wk8 = pd.read_csv("../data/fanduel_data/fanduel2014week8.csv",delimiter=";")
wk9 = pd.read_csv("../data/fanduel_data/fanduel2014week9.csv",delimiter=";")
wk10 = pd.read_csv("../data/fanduel_data/fanduel2014week10.csv",delimiter=";")
wk11 = pd.read_csv("../data/fanduel_data/fanduel2014week11.csv",delimiter=";")
wk12 = pd.read_csv("../data/fanduel_data/fanduel2014week12.csv",delimiter=";")
wk13 = pd.read_csv("../data/fanduel_data/fanduel2014week13.csv",delimiter=";")
wk14 = pd.read_csv("../data/fanduel_data/fanduel2014week14.csv",delimiter=";")
wk15 = pd.read_csv("../data/fanduel_data/fanduel2014week15.csv",delimiter=";")
wk16 = pd.read_csv("../data/fanduel_data/fanduel2014week16.csv",delimiter=";")
wk17 = pd.read_csv("../data/fanduel_data/fanduel2014week17.csv",delimiter=";")

wk15.tail()

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
452,15,2014,7002,Atlanta Defense,Def,atl,h,pit,2,4500
453,15,2014,7023,Philadelphia Defense,Def,phi,h,dal,1,5200
454,15,2014,7016,Miami Defense,Def,mia,a,nwe,1,4700
455,15,2014,7017,Minnesota Defense,Def,min,a,det,1,5100
456,15,2014,7026,San Diego Defense,Def,sdg,h,den,1,4600

In [6]:
wk1.describe()

       Week  Year          GID   FD points     FD salary
count   441   441   441.000000  441.000000    441.000000
mean      1  2014  4102.825397    6.607075   5385.714286
std       0     0  1524.173844    6.778873   1319.159512
min       1  2014  1081.000000   -3.000000      0.000000
25%       1  2014  2869.000000    0.500000   4500.000000
50%       1  2014  4327.000000    4.600000   4800.000000
75%       1  2014  5186.000000   11.100000   5800.000000
max       1  2014  7032.000000   31.900000  10200.000000

In [7]:
wk2.describe()

       Week  Year          GID   FD points     FD salary
count   469   469   469.000000  469.000000    469.000000
mean      2  2014  4113.117271    5.890277   5305.970149
std       0     0  1496.050309    6.777001   1271.854494
min       2  2014  1081.000000   -1.000000      0.000000
25%       2  2014  2886.000000    0.000000   4500.000000
50%       2  2014  4337.000000    3.400000   4700.000000
75%       2  2014  5182.000000    9.700000   5700.000000
max       2  2014  7032.000000   31.400000  10200.000000

In [8]:
wk1.shape

(441, 10)

In [9]:
wk10.shape

(381, 10)

###Get column names

In [10]:
wk10.columns

Index(['Week', 'Year', 'GID', 'Name', 'Pos', 'Team', 'h/a', 'Oppt', 'FD points', 'FD salary'], dtype='object')

###Sort

In [11]:
wk1.sort(columns="FD points")

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
440,1,2014,7020,New York G Defense,Def,nyg,a,det,-3.00,5200
439,1,2014,7019,New Orleans Defense,Def,nor,a,atl,-1.00,4800
150,1,2014,2861,"Pierce, Bernard",RB,bal,h,cin,-0.30,6100
149,1,2014,2705,"Brown, Donald",RB,sdg,a,ari,-0.20,5000
437,1,2014,7025,St. Louis Defense,Def,stl,h,min,0.00,5400
143,1,2014,2692,"Peerman, Cedric",RB,cin,a,bal,0.00,4500
144,1,2014,2824,"Clutts, Tyler",RB,dal,h,sfo,0.00,4500
145,1,2014,2620,"Hillis, Peyton",RB,nyg,a,det,0.00,4500
146,1,2014,2908,"Juszczyk, Kyle",RB,bal,h,cin,0.00,4500
147,1,2014,2913,"Olawale, Jamize",RB,oak,a,nyj,0.00,4500
148,1,2014,2895,"James, Mike",RB,tam,h,car,0.00,5800
286,1,2014,5154,"Jenkins, A.J.",WR,kan,h,ten,0.00,4500
285,1,2014,5137,"Sanzenbacher, Dane",WR,cin,a,bal,0.00,4500
284,1,2014,3760,"Slater, Matthew",WR,nwe,a,mia,0.00,4500
283,1,2014,5226,"Brown, Marlon",WR,bal,h,cin,0.00,5000
282,1,2014,5260,"Richardson, Paul",WR,sea,h,gnb,0.00,4600
281,1,2014,5245,"Smith, Rodney",WR,cle,a,pit,0.00,4500
280,1,2014,2580,"Grant, Ryan",WR,was,a,hou,0.00,4500
279,1,2014,5249,"Hakim, Saalim",WR,nyj,h,oak,0.00,4500
278,1,2014,5177,"Holmes, Andre",WR,oak,a,nyj,0.00,4900
277,1,2014,5263,"Adams, Davante",WR,gnb,a,sea,0.00,4700
276,1,2014,5155,"Martin, Keshawn",WR,hou,h,was,0.00,4500
275,1,2014,1261,"Smith, Brad",WR,phi,h,jac,0.00,4500
274,1,2014,5268,"Latimer, Cody",WR,den,h,ind,0.00,4500
272,1,2014,5230,"Hemingway, Junior",WR,kan,h,ten,0.00,4500
271,1,2014,5182,"Matthews, Rishard",WR,mia,h,nwe,0.00,4500
292,1,2014,5223,"Shepard, Russell",WR,tam,h,car,0.00,4500
270,1,2014,3946,"LaFell, Brandon",WR,nwe,a,mia,0.00,4500
291,1,2014,5265,"Ellington, Bruce",WR,sfo,a,dal,0.00,4500
289,1,2014,5259,"Herron, Robert",WR,tam,h,car,0.00,4600
...,...,...,...,...,...,...,...,...,...,...
378,1,2014,6071,"Bryant, Matt",PK,atl,h,nor,18.00,5000
10,1,2014,1239,"Anderson, Derek",QB,car,a,tam,18.20,5000
158,1,2014,5257,"Benjamin, Kelvin",WR,car,a,tam,18.20,4900
295,1,2014,4368,"Olsen, Greg",TE,car,a,tam,18.30,6400
9,1,2014,1403,"Dalton, Andy",QB,cin,a,bal,18.34,7800
294,1,2014,4323,"Davis, Vernon",TE,sfo,a,dal,18.40,6300
8,1,2014,1232,"Roethlisberger, Ben",QB,pit,h,cle,18.40,7800
7,1,2014,1412,"Wilson, Russell",QB,sea,h,gnb,18.54,8100
40,1,2014,2793,"Ingram, Mark",RB,nor,a,atl,18.60,5200
157,1,2014,5255,"Cooks, Brandin",WR,nor,a,atl,19.00,5700
39,1,2014,2706,"Moreno, Knowshon",RB,mia,h,nwe,19.40,6100
38,1,2014,2831,"Murray, DeMarco",RB,dal,h,sfo,19.80,8800
6,1,2014,1263,"Cutler, Jay",QB,chi,h,buf,19.96,8000
5,1,2014,1382,"Locker, Jake",QB,ten,a,kan,20.04,6600
156,1,2014,3474,"Brown, Antonio",WR,pit,h,cle,20.10,7700
155,1,2014,5208,"Patterson, Cordarrelle",WR,min,a,stl,20.30,6400
37,1,2014,2613,"Forte, Matt",RB,chi,h,buf,20.90,9300
4,1,2014,1207,"Palmer, Carson",QB,ari,h,sdg,21.06,6900
154,1,2014,3328,"Smith, Steve",WR,bal,h,cin,21.30,5500
409,1,2014,7017,Minnesota Defense,Def,min,a,stl,22.00,5000
3,1,2014,1081,"Manning, Peyton",QB,den,h,ind,22.46,10200
153,1,2014,5091,"Green, A.J.",WR,cin,a,bal,22.60,8300
36,1,2014,2552,"Lynch, Marshawn",RB,sea,h,gnb,24.90,8800
152,1,2014,5341,"Hurns, Allen",WR,jac,a,phi,25.00,4500
2,1,2014,1409,"Luck, Andrew",QB,ind,a,den,28.70,9200
35,1,2014,2888,"Bell, Le'Veon",RB,pit,h,cle,28.70,8300
1,1,2014,1340,"Stafford, Matthew",QB,det,h,nyg,30.04,9300
0,1,2014,1301,"Ryan, Matt",QB,atl,h,nor,31.42,8100
151,1,2014,3677,"Johnson, Calvin",WR,det,h,nyg,31.90,9200
293,1,2014,4534,"Thomas, Julius",TE,den,h,ind,31.90,7400

In [12]:
wk1

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
0,1,2014,1301,"Ryan, Matt",QB,atl,h,nor,31.42,8100
1,1,2014,1340,"Stafford, Matthew",QB,det,h,nyg,30.04,9300
2,1,2014,1409,"Luck, Andrew",QB,ind,a,den,28.70,9200
3,1,2014,1081,"Manning, Peyton",QB,den,h,ind,22.46,10200
4,1,2014,1207,"Palmer, Carson",QB,ari,h,sdg,21.06,6900
5,1,2014,1382,"Locker, Jake",QB,ten,a,kan,20.04,6600
6,1,2014,1263,"Cutler, Jay",QB,chi,h,buf,19.96,8000
7,1,2014,1412,"Wilson, Russell",QB,sea,h,gnb,18.54,8100
8,1,2014,1232,"Roethlisberger, Ben",QB,pit,h,cle,18.40,7800
9,1,2014,1403,"Dalton, Andy",QB,cin,a,bal,18.34,7800
10,1,2014,1239,"Anderson, Derek",QB,car,a,tam,18.20,5000
11,1,2014,1421,"Manuel, E.J.",QB,buf,a,chi,17.82,6500
12,1,2014,1302,"Flacco, Joe",QB,bal,h,cin,17.50,6600
13,1,2014,1309,"Henne, Chad",QB,jac,a,phi,17.44,5600
14,1,2014,1404,"Kaepernick, Colin",QB,sfo,a,dal,17.14,8500
15,1,2014,1151,"Brees, Drew",QB,nor,a,atl,16.52,9700
16,1,2014,1175,"McCown, Josh",QB,tam,h,car,16.02,6200
17,1,2014,1413,"Foles, Nick",QB,phi,h,jac,15.88,8500
18,1,2014,1241,"Cassel, Matt",QB,min,a,stl,14.50,5400
19,1,2014,1441,"Carr, Derek",QB,oak,a,nyj,13.94,5400
20,1,2014,1410,"Tannehill, Ryan",QB,mia,h,nwe,13.92,6500
21,1,2014,1426,"Smith, Geno",QB,nyj,h,oak,13.64,7000
22,1,2014,1231,"Rivers, Philip",QB,sdg,a,ari,13.52,8100
23,1,2014,1242,"Fitzpatrick, Ryan",QB,hou,h,was,13.24,6100
24,1,2014,1336,"Hoyer, Brian",QB,cle,a,pit,13.00,5600
25,1,2014,1254,"Smith, Alex",QB,kan,h,ten,12.68,6900
26,1,2014,1233,"Romo, Tony",QB,dal,h,sfo,12.24,8300
27,1,2014,1252,"Rodgers, Aaron",QB,gnb,a,sea,10.56,9600
28,1,2014,1131,"Brady, Tom",QB,nwe,a,mia,10.26,9100
29,1,2014,1408,"Griffin III, Robert",QB,was,a,hou,8.88,8400
...,...,...,...,...,...,...,...,...,...,...
411,1,2014,7027,San Francisco Defense,Def,sfo,a,dal,18.00,5600
412,1,2014,7023,Philadelphia Defense,Def,phi,h,jac,14.00,5000
413,1,2014,7030,Tennessee Defense,Def,ten,a,kan,14.00,5000
414,1,2014,7014,Jacksonville Defense,Def,jac,a,phi,11.00,4500
415,1,2014,7016,Miami Defense,Def,mia,h,nwe,11.00,5100
416,1,2014,7005,Carolina Defense,Def,car,a,tam,10.00,5500
417,1,2014,7004,Buffalo Defense,Def,buf,a,chi,9.00,5000
418,1,2014,7026,San Diego Defense,Def,sdg,a,ari,9.00,5200
419,1,2014,7007,Cincinnati Defense,Def,cin,a,bal,8.00,5400
420,1,2014,7028,Seattle Defense,Def,sea,h,gnb,8.00,5700
421,1,2014,7010,Denver Defense,Def,den,h,ind,7.00,5400
422,1,2014,7022,Oakland Defense,Def,oak,a,nyj,7.00,4800
423,1,2014,7011,Detroit Defense,Def,det,h,nyg,7.00,4600
424,1,2014,7031,Washington Defense,Def,was,a,hou,6.00,4700
425,1,2014,7018,New England Defense,Def,nwe,a,mia,6.00,5400
426,1,2014,7008,Cleveland Defense,Def,cle,a,pit,4.00,5100
427,1,2014,7015,Kansas City Defense,Def,kan,h,ten,4.00,5400
428,1,2014,7021,New York J Defense,Def,nyj,h,oak,3.00,5000
429,1,2014,7002,Atlanta Defense,Def,atl,h,nor,3.00,4900
430,1,2014,7006,Chicago Defense,Def,chi,h,buf,3.00,5300
431,1,2014,7001,Arizona Defense,Def,ari,h,sdg,3.00,5300
432,1,2014,7024,Pittsburgh Defense,Def,pit,h,cle,3.00,5200
433,1,2014,7029,Tampa Bay Defense,Def,tam,h,car,2.00,4900
434,1,2014,7012,Green Bay Defense,Def,gnb,a,sea,2.00,5200
435,1,2014,7003,Baltimore Defense,Def,bal,h,cin,2.00,5200
436,1,2014,7009,Dallas Defense,Def,dal,h,sfo,1.00,4800
437,1,2014,7025,St. Louis Defense,Def,stl,h,min,0.00,5400
438,1,2014,7013,Indianapolis Defense,Def,ind,a,den,0.00,4800
439,1,2014,7019,New Orleans Defense,Def,nor,a,atl,-1.00,4800
440,1,2014,7020,New York G Defense,Def,nyg,a,det,-3.00,5200

###selecting columns and rows

In [13]:
wk1["FD salary"]

0       8100
1       9300
2       9200
3      10200
4       6900
5       6600
6       8000
7       8100
8       7800
9       7800
10      5000
11      6500
12      6600
13      5600
14      8500
15      9700
16      6200
17      8500
18      5400
19      5400
20      6500
21      7000
22      8100
23      6100
24      5600
25      6900
26      8300
27      9600
28      9100
29      8400
       ...
411     5600
412     5000
413     5000
414     4500
415     5100
416     5500
417     5000
418     5200
419     5400
420     5700
421     5400
422     4800
423     4600
424     4700
425     5400
426     5100
427     5400
428     5000
429     4900
430     5300
431     5300
432     5200
433     4900
434     5200
435     5200
436     4800
437     5400
438     4800
439     4800
440     5200
Name: FD salary, dtype: int64

##same thing

# wk1["FD salary"]

In [26]:
wk1.loc[20:40,["Name","Pos","FD points", "FD salary"]].sort(columns="FD points")

                   Name Pos  FD points  FD salary
34        Vick, Michael  QB       0.00       7600
32          Yates, T.J.  QB       0.00       5000
33         McCown, Luke  QB       0.00       5000
31          Hill, Shaun  QB       2.14       5000
30         Manning, Eli  QB       8.52       6600
29  Griffin III, Robert  QB       8.88       8400
28           Brady, Tom  QB      10.26       9100
27       Rodgers, Aaron  QB      10.56       9600
26           Romo, Tony  QB      12.24       8300
25          Smith, Alex  QB      12.68       6900
24         Hoyer, Brian  QB      13.00       5600
23    Fitzpatrick, Ryan  QB      13.24       6100
22       Rivers, Philip  QB      13.52       8100
21          Smith, Geno  QB      13.64       7000
20      Tannehill, Ryan  QB      13.92       6500
40         Ingram, Mark  RB      18.60       5200
39     Moreno, Knowshon  RB      19.40       6100
38      Murray, DeMarco  RB      19.80       8800
37          Forte, Matt  RB      20.90       9300
36      Lynch, Marshawn  RB      24.90       8800
35        Bell, Le'Veon  RB      28.70       8300

### Select columns and order by Points scored

In [40]:
wk1[(wk1["Pos"]=="QB")].sort(columns="FD points").iloc[:,4:11]

   Pos Team h/a Oppt  FD points  FD salary
34  QB  nyj   h  oak       0.00       7600
33  QB  nor   a  atl       0.00       5000
32  QB  atl   h  nor       0.00       5000
31  QB  stl   h  min       2.14       5000
30  QB  nyg   a  det       8.52       6600
29  QB  was   a  hou       8.88       8400
28  QB  nwe   a  mia      10.26       9100
27  QB  gnb   a  sea      10.56       9600
26  QB  dal   h  sfo      12.24       8300
25  QB  kan   h  ten      12.68       6900
24  QB  cle   a  pit      13.00       5600
23  QB  hou   h  was      13.24       6100
22  QB  sdg   a  ari      13.52       8100
21  QB  nyj   h  oak      13.64       7000
20  QB  mia   h  nwe      13.92       6500
19  QB  oak   a  nyj      13.94       5400
18  QB  min   a  stl      14.50       5400
17  QB  phi   h  jac      15.88       8500
16  QB  tam   h  car      16.02       6200
15  QB  nor   a  atl      16.52       9700
14  QB  sfo   a  dal      17.14       8500
13  QB  jac   a  phi      17.44       5600
12  QB  bal   h  cin      17.50       6600
11  QB  buf   a  chi      17.82       6500
10  QB  car   a  tam      18.20       5000
9   QB  cin   a  bal      18.34       7800
8   QB  pit   h  cle      18.40       7800
7   QB  sea   h  gnb      18.54       8100
6   QB  chi   h  buf      19.96       8000
5   QB  ten   a  kan      20.04       6600
4   QB  ari   h  sdg      21.06       6900
3   QB  den   h  ind      22.46      10200
2   QB  ind   a  den      28.70       9200
1   QB  det   h  nyg      30.04       9300
0   QB  atl   h  nor      31.42       8100