# FanDuel 2014 Week 1 - 17 Statistical Analysis
Testing "fanduel2014week*.csv"

In [42]:
import pandas as pd

for loop to populate all weeks in respective variables

###IMPORTANT: variable automation is not working correctly.

In [43]:
'''
numberofweeks = 14
counter = 1
while counter <= numberofweeks:
    weeknumber = str(counter)
    filename = "../data/fanduel_data/fanduel2014week"
    filename += weeknumber
    filename += ".csv"
    # print (filename) 
    
    weekname = "wk"
    weekname += weeknumber 
    #str (weekname) = pd.read_csv(filename,delimiter=";")
    # print (weekname)
    #"wk"+=str(counter) = pd.read_csv(filename,delimiter=";")
    
    # weeknumber = pd.read_csv(filename,delimiter=";")
    # print (weeknumber, " = ", filename, sep="")
    counter += 1
    
#wk12.head()

'''

'\nnumberofweeks = 14\ncounter = 1\nwhile counter <= numberofweeks:\n    weeknumber = str(counter)\n    filename = "../data/fanduel_data/fanduel2014week"\n    filename += weeknumber\n    filename += ".csv"\n    # print (filename) \n    \n    weekname = "wk"\n    weekname += weeknumber \n    #str (weekname) = pd.read_csv(filename,delimiter=";")\n    # print (weekname)\n    #"wk"+=str(counter) = pd.read_csv(filename,delimiter=";")\n    \n    # weeknumber = pd.read_csv(filename,delimiter=";")\n    # print (weeknumber, " = ", filename, sep="")\n    counter += 1\n    \n#wk12.head()\n\n'

Hardcode weelky variables...

In [47]:
wk1 = pd.read_csv("../data/fanduel_data/fanduel2014week1.csv",delimiter=";")
wk2 = pd.read_csv("../data/fanduel_data/fanduel2014week2.csv",delimiter=";")
wk3 = pd.read_csv("../data/fanduel_data/fanduel2014week3.csv",delimiter=";")
wk4 = pd.read_csv("../data/fanduel_data/fanduel2014week4.csv",delimiter=";")
wk5 = pd.read_csv("../data/fanduel_data/fanduel2014week5.csv",delimiter=";")
wk6 = pd.read_csv("../data/fanduel_data/fanduel2014week6.csv",delimiter=";")
wk7 = pd.read_csv("../data/fanduel_data/fanduel2014week7.csv",delimiter=";")
wk8 = pd.read_csv("../data/fanduel_data/fanduel2014week8.csv",delimiter=";")
wk9 = pd.read_csv("../data/fanduel_data/fanduel2014week9.csv",delimiter=";")
wk10 = pd.read_csv("../data/fanduel_data/fanduel2014week10.csv",delimiter=";")
wk11 = pd.read_csv("../data/fanduel_data/fanduel2014week11.csv",delimiter=";")
wk12 = pd.read_csv("../data/fanduel_data/fanduel2014week12.csv",delimiter=";")
wk13 = pd.read_csv("../data/fanduel_data/fanduel2014week13.csv",delimiter=";")
wk14 = pd.read_csv("../data/fanduel_data/fanduel2014week14.csv",delimiter=";")
wk15 = pd.read_csv("../data/fanduel_data/fanduel2014week15.csv",delimiter=";")
wk16 = pd.read_csv("../data/fanduel_data/fanduel2014week16.csv",delimiter=";")
wk17 = pd.read_csv("../data/fanduel_data/fanduel2014week17.csv",delimiter=";")

wk15.tail()

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
452,15,2014,7002,Atlanta Defense,Def,atl,h,pit,2,4500
453,15,2014,7023,Philadelphia Defense,Def,phi,h,dal,1,5200
454,15,2014,7016,Miami Defense,Def,mia,a,nwe,1,4700
455,15,2014,7017,Minnesota Defense,Def,min,a,det,1,5100
456,15,2014,7026,San Diego Defense,Def,sdg,h,den,1,4600

In [48]:
week1.describe()

       Week  Year          GID   FD points     FD salary
count   441   441   441.000000  441.000000    441.000000
mean      1  2014  4102.825397    6.607075   5385.714286
std       0     0  1524.173844    6.778873   1319.159512
min       1  2014  1081.000000   -3.000000      0.000000
25%       1  2014  2869.000000    0.500000   4500.000000
50%       1  2014  4327.000000    4.600000   4800.000000
75%       1  2014  5186.000000   11.100000   5800.000000
max       1  2014  7032.000000   31.900000  10200.000000