# FanDuel 2014 Week 1 - 17 Statistical Analysis
Testing "fanduel2014week*.csv"

In [67]:
import pandas as pd

for loop to populate all weeks in respective variables

###IMPORTANT: variable automation is not working correctly.

In [68]:
'''
numberofweeks = 14
counter = 1
while counter <= numberofweeks:
    weeknumber = str(counter)
    filename = "../data/fanduel_data/fanduel2014week"
    filename += weeknumber
    filename += ".csv"
    # print (filename) 
    
    weekname = "wk"
    weekname += weeknumber 
    #str (weekname) = pd.read_csv(filename,delimiter=";")
    # print (weekname)
    #"wk"+=str(counter) = pd.read_csv(filename,delimiter=";")
    
    # weeknumber = pd.read_csv(filename,delimiter=";")
    # print (weeknumber, " = ", filename, sep="")
    counter += 1
    
#wk12.head()

'''

'\nnumberofweeks = 14\ncounter = 1\nwhile counter <= numberofweeks:\n    weeknumber = str(counter)\n    filename = "../data/fanduel_data/fanduel2014week"\n    filename += weeknumber\n    filename += ".csv"\n    # print (filename) \n    \n    weekname = "wk"\n    weekname += weeknumber \n    #str (weekname) = pd.read_csv(filename,delimiter=";")\n    # print (weekname)\n    #"wk"+=str(counter) = pd.read_csv(filename,delimiter=";")\n    \n    # weeknumber = pd.read_csv(filename,delimiter=";")\n    # print (weeknumber, " = ", filename, sep="")\n    counter += 1\n    \n#wk12.head()\n\n'

Hardcode weelky variables...

In [69]:
wk1 = pd.read_csv("../data/fanduel_data/fanduel2014week1.csv",delimiter=";")
wk2 = pd.read_csv("../data/fanduel_data/fanduel2014week2.csv",delimiter=";")
wk3 = pd.read_csv("../data/fanduel_data/fanduel2014week3.csv",delimiter=";")
wk4 = pd.read_csv("../data/fanduel_data/fanduel2014week4.csv",delimiter=";")
wk5 = pd.read_csv("../data/fanduel_data/fanduel2014week5.csv",delimiter=";")
wk6 = pd.read_csv("../data/fanduel_data/fanduel2014week6.csv",delimiter=";")
wk7 = pd.read_csv("../data/fanduel_data/fanduel2014week7.csv",delimiter=";")
wk8 = pd.read_csv("../data/fanduel_data/fanduel2014week8.csv",delimiter=";")
wk9 = pd.read_csv("../data/fanduel_data/fanduel2014week9.csv",delimiter=";")
wk10 = pd.read_csv("../data/fanduel_data/fanduel2014week10.csv",delimiter=";")
wk11 = pd.read_csv("../data/fanduel_data/fanduel2014week11.csv",delimiter=";")
wk12 = pd.read_csv("../data/fanduel_data/fanduel2014week12.csv",delimiter=";")
wk13 = pd.read_csv("../data/fanduel_data/fanduel2014week13.csv",delimiter=";")
wk14 = pd.read_csv("../data/fanduel_data/fanduel2014week14.csv",delimiter=";")
wk15 = pd.read_csv("../data/fanduel_data/fanduel2014week15.csv",delimiter=";")
wk16 = pd.read_csv("../data/fanduel_data/fanduel2014week16.csv",delimiter=";")
wk17 = pd.read_csv("../data/fanduel_data/fanduel2014week17.csv",delimiter=";")

wk15.head()

   Week  Year   GID          Name Pos Team h/a Oppt  FD points  FD salary
0    15  2014  1151   Brees, Drew  QB  nor   a  chi      27.20       9200
1    15  2014  1301    Ryan, Matt  QB  atl   h  pit      22.10       7900
2    15  2014  1225  Manning, Eli  QB  nyg   h  was      22.00       7500
3    15  2014  1254   Smith, Alex  QB  kan   h  oak      21.58       7200
4    15  2014  1233    Romo, Tony  QB  dal   a  phi      20.50       8400

In [70]:
wk17.head()

,Week,Year,GID,Name,Pos,Team,h/a,Oppt,FD points,FD salary
0,17,2014,1426,"Smith, Geno",QB,nyj,a,mia,26.12,6600
1,17,2014,1252,"Rodgers, Aaron",QB,gnb,h,det,24.44,9800
2,17,2014,1404,"Kaepernick, Colin",QB,sfo,h,ari,22.46,7000
3,17,2014,1340,"Stafford, Matthew",QB,det,a,gnb,21.58,7800
4,17,2014,1408,"Griffin III, Robert",QB,was,h,dal,21.34,6600

^^ We see in the above code, I chose week 17 for a reason. We'll see if we can predict these statistics from going through week 1 through 16.

### Let's choose a person to begin with and isolate important columns

Geno Smith is our guy

In [71]:
smithWk1 = wk1[wk1['Name']=="Smith, Geno"]
smithWk1

    Week  Year   GID         Name Pos Team h/a Oppt  FD points  FD salary
21     1  2014  1426  Smith, Geno  QB  nyj   h  oak      13.64       7000

Now we have a single data set for Smith, let's create a complete data set for his whole season

In [72]:
smithWk2 = wk2[wk2['Name']=="Smith, Geno"]
smithWk3 = wk3[wk3['Name']=="Smith, Geno"]
smithWk4 = wk4[wk4['Name']=="Smith, Geno"]
smithWk5 = wk5[wk5['Name']=="Smith, Geno"]
smithWk6 = wk6[wk6['Name']=="Smith, Geno"]
smithWk7 = wk7[wk7['Name']=="Smith, Geno"]
smithWk8 = wk8[wk8['Name']=="Smith, Geno"]
smithWk9 = wk9[wk9['Name']=="Smith, Geno"]
smithWk10 = wk10[wk10['Name']=="Smith, Geno"]
smithWk11 = wk11[wk11['Name']=="Smith, Geno"]
smithWk12 = wk12[wk12['Name']=="Smith, Geno"]
smithWk13 = wk13[wk13['Name']=="Smith, Geno"]
smithWk14 = wk14[wk14['Name']=="Smith, Geno"]
smithWk15 = wk15[wk15['Name']=="Smith, Geno"]
smithWk16 = wk16[wk16['Name']=="Smith, Geno"]
smithWk17 = wk17[wk17['Name']=="Smith, Geno"]

smithWk15

    Week  Year   GID         Name Pos Team h/a Oppt  FD points  FD salary
16    15  2014  1426  Smith, Geno  QB  nyj   a  ten      12.76       6600

In [73]:
smithGeno2014 = smithWk1.append(smithWk2).append(smithWk3).append(smithWk4).append(smithWk5).append(smithWk6).append(smithWk7).append(smithWk8).append(smithWk9).append(smithWk10).append(smithWk11).append(smithWk12).append(smithWk13).append(smithWk14).append(smithWk15).append(smithWk16).append(smithWk17)
smithGeno2014Full = smithGeno2014

smithGeno2014Full.set_index("Week")
smithGeno2014 = smithGeno2014.set_index("Week")
smithGeno2014 = smithGeno2014.drop("Year",1)
smithGeno2014 = smithGeno2014.drop("GID",1)
smithGeno2014 = smithGeno2014.drop("Name",1)
smithGeno2014 = smithGeno2014.drop("Pos",1).drop("Team",1)

smithGeno2014

     h/a Oppt  FD points  FD salary
Week
1      h  oak      13.64       7000
2      a  gnb      18.64       6900
3      h  chi      16.64       7400
4      h  det       9.76       7400
5      a  sdg       0.38       7100
6      h  den      15.70       6900
7      a  nwe      16.74       6900
8      h  buf      -2.80       7000
12     a  buf       3.96       5000
13     h  mia       3.50       5000
14     a  min      16.46       6200
15     a  ten      12.76       6600
16     h  nwe      12.30       6500
17     a  mia      26.12       6600

###Let's check out Aaron Rodgers stats

In [74]:
rodgersWk1 = wk1[wk1['Name']=="Rodgers, Aaron"]
rodgersWk2 = wk2[wk2['Name']=="Rodgers, Aaron"]
rodgersWk3 = wk3[wk3['Name']=="Rodgers, Aaron"]
rodgersWk4 = wk4[wk4['Name']=="Rodgers, Aaron"]
rodgersWk5 = wk5[wk5['Name']=="Rodgers, Aaron"]
rodgersWk6 = wk6[wk6['Name']=="Rodgers, Aaron"]
rodgersWk7 = wk7[wk7['Name']=="Rodgers, Aaron"]
rodgersWk8 = wk8[wk8['Name']=="Rodgers, Aaron"]
rodgersWk9 = wk9[wk9['Name']=="Rodgers, Aaron"]
rodgersWk10 = wk10[wk10['Name']=="Rodgers, Aaron"]
rodgersWk11 = wk11[wk11['Name']=="Rodgers, Aaron"]
rodgersWk12 = wk12[wk12['Name']=="Rodgers, Aaron"]
rodgersWk13 = wk13[wk13['Name']=="Rodgers, Aaron"]
rodgersWk14 = wk14[wk14['Name']=="Rodgers, Aaron"]
rodgersWk15 = wk15[wk15['Name']=="RodgerW
rodgersAaron2014 = rodgersWk1.append(rodgersWk2).append(rodgersWk3).append(rodgersWk4).append(rodgersWk5).append(rodgersWk6).append(rodgersWk7).append(rodgersWk8).append(rodgersWk9).append(rodgersWk10).append(rodgersWk11).append(rodgersWk12).append(rodgersWk13).append(rodgersWk14).append(rodgersWk15).append(rodgersWk16).append(rodgersWk17)
rodgersAaron2014Full = rodgersAaron2014

rodgersAaron2014Full.set_index("Week")
rodgersAaron2014 = rodgersAaron2014.set_index("Week")
rodgersAaron2014 = rodgersAaron2014.drop("Year",1)
rodgersAaron2014 = rodgersAaron2014.drop("GID",1)
rodgersAaron2014 = rodgersAaron2014.drop("Name",1)
rodgersAaron2014 = rodgersAaron2014.drop("Pos",1).drop("Team",1)

rodgersAaron2014
rodgersAaron2014home = rodgersAaron2014[rodgersAaron2014["h/a"]=="h"]
rodgersAaron2014away = rodgersAaron2014[rodgersAaron2014["h/a"]=="a"]

In [75]:
rodgersAaron2014home

     h/a Oppt  FD points  FD salary
Week
2      h  nyj      28.64       9100
5      h  min      18.24       9700
7      h  car      24.30       9700
10     h  chi      36.60       9900
11     h  phi      28.84      10100
13     h  nwe      24.92       9900
14     h  atl      27.88      10400
17     h  det      24.44       9800

In [76]:
rodgersAaron2014away

     h/a Oppt  FD points  FD salary
Week
1      a  sea      10.56       9600
3      a  det      10.48       9800
4      a  chi      28.88       9500
6      a  mia      25.96       9600
8      a  nor      26.82      10000
12     a  min      19.76      10200
15     a  buf       8.10      10200
16     a  tam      14.72      10000

Or another way of looking at away/home games is by group by

In [77]:
rodgersAaron2014.groupby('h/a').groups

{'a': [1, 3, 4, 6, 8, 12, 15, 16], 'h': [2, 5, 7, 10, 11, 13, 14, 17]}

In [78]:
rodgersAaron2014h_a_mean = rodgersAaron2014.groupby('h/a').mean()
rodgersAaron2014h_a_mean

     FD points  FD salary
h/a
a      18.1600     9862.5
h      26.7325     9825.0

#Plotting!

In [91]:
import matplotlib.pyplot as plt
plt.scatter(rodgersAaron2014.index, rodgersAaron2014["FD points"])
plt.show()

In [85]:
rodgersAaron2014["FD points"]

Week
1     10.56
2     28.64
3     10.48
4     28.88
5     18.24
6     25.96
7     24.30
8     26.82
10    36.60
11    28.84
12    19.76
13    24.92
14    27.88
15     8.10
16    14.72
17    24.44
Name: FD points, dtype: float64